<kendo-card class="generic-card">
  <div *ngIf="content().icon || content().image" class="card-media">
    <img *ngIf="content().icon" [src]="content().icon" alt="icon" />
    <img *ngIf="content().image" [src]="content().image" alt="image" />
  </div>

  <div class="card-content">
    <h3>{{ content().title }}</h3>
    <p *ngIf="content().description">{{ content().description }}</p>
    <a *ngIf="content().link" [href]="content().link" target="_blank" class="card-link">Open</a>
  </div>
</kendo-card>