.generic-card {
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.generic-card:hover {
  transform: translateY(-5px);
}


.card-media img {
  width: 100%;
  max-width: 220px;
  margin-bottom: 15px;
  object-fit: cover;
  border-radius: 12px;
}


.card-title {
  font-size: 1.4rem;
  color: pink;
}


kendo-card-body p {
  font-size: 1rem;
  color: #555;
}


.card-actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}