<kendo-card class="about-card">
  <div class="card-header">
    <h2 class="about-title">
      {{ content().title }} <span>{{ content().subtitleSpan }}</span>
    </h2>
    <p class="subtitle">{{ content().subtitle }}</p>
  </div>

  <div class="card-body">
    <p *ngFor="let paragraph of content().paragraphs">{{ paragraph }}</p>
  </div>

  <div class="card-actions" *ngIf="content().resumeLink">
    <a class="resume-btn" [href]="content().resumeLink" target="_blank">
      Download My Resume
    </a>
  </div>
</kendo-card>