.about-card {
  width: 100%;
  border-radius: 20px;
  padding: 60px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  background: #fff;
}


.card-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-title {
  font-size: 42px;
  font-weight: bold;
  margin: 0 0 10px;
}

.about-title span {
  color: pink;
}

.subtitle {
  font-size: 20px;
  color: #666;
  margin-top: 0;
}


.card-body p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}


.card-actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.resume-btn {
  background-color: pink;
  color: #fff;
  padding: 15px 40px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.resume-btn:hover {
  background-color: #e73370;
  transform: scale(1.05);
}