.hero-container {
  text-align: center;
  padding: 100px 20px;
  background-color: #222;
  color: white;
}

.main-name {
  font-size: 4rem;
  font-weight: bold;
  color: pink;
  margin-bottom: 30px;
}

.hero-btn {
  font-size: 1.2rem;
  padding: 0.6rem 2rem;
  border-radius: 10px;
  transition: 0.3s;
  background-color: pink !important;
  border-color: pink !important;
}

.hero-btn:hover {
  transform: scale(1.05);
  background-color: black!important; 
  border-color: black!important;
}

@media (max-width: 768px) {
  .main-name {
    font-size: 3rem;
  }
  .hero-container {
    padding: 80px 10px;
  }
  .hero-btn {
    width: 80%;
  }
}